<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Your Spaces</title>
        <link rel="stylesheet" href="/static/css/styles.css" />
    </head>

    <body>
        {% if user_id == spaces[0].lister_id %}
        <header>
            <nav>
                <a href="/index" class="logo">MakersBnB</a>
                <div class="nav-links">
                    <a
                        href="/customer"
                        class="{% if request.path == '/customer' %}active{% endif %}"
                        >Browse Spaces</a
                    >
                    {% if logged_in and user_role == 'host' %}
                    <a
                        href="/lister"
                        class="{% if request.path == '/lister' %}active{% endif %}"
                        >Lister Dashboard</a
                    >
                    {% endif %} {% if not logged_in %}
                    <a
                        href="/login"
                        class="{% if request.path == '/login' %}active{% endif %}"
                        >Login</a
                    >
                    {% else %}
                    <a href="/logout">Logout</a>
                    {% endif %}
                </div>
            </nav>
        </header>

        <main>
            <nav class="nav-listings__status">
                <form
                    class="nav-listings__form"
                    method="POST"
                    action="/lister/{{ user_id }}"
                >
                    <button
                        class="nav-listings__btn {% if current_status=='Requested' %}active{% endif %}"
                        type="submit"
                        name="status"
                        value="Requested"
                    >
                        Waiting
                    </button>
                    <button
                        class="nav-listings__btn {% if current_status=='Available' %}active{% endif %}"
                        type="submit"
                        name="status"
                        value="Available"
                    >
                        Unbooked
                    </button>
                    <button
                        class="nav-listings__btn nav {% if current_status=='Unavailable' %}active{% endif %}"
                        type="submit"
                        name="status"
                        value="Unavailable"
                    >
                        Booked
                    </button>
                    <button
                        class="nav-listings__btn {% if current_status=='All' %}active{% endif %}"
                        type="submit"
                        name="status"
                        value="All"
                    >
                        All
                    </button>
                </form>
            </nav>

            <section class="lister-section">
                {% if current_status == "Available"%}
                <h1 class="lister-section__title">Unbooked Spaces</h1>
                {% elif current_status == "Unavailable"%}
                <h1 class="lister-section__title">Booked Spaces</h1>
                {% elif current_status == "Requested"%}
                <h1 class="lister-section__title">
                    Waiting For Approval Spaces
                </h1>
                {% elif current_status == "All"%}
                <h1 class="lister-section__title">All Your Spaces</h1>
                {% endif %} {% if not spaces[0].name %}
                <p>No spaces yet!</p>
                {% else %}
                <ul class="cards-container">
                    {% for space in spaces %}
                    <li class="space-card">
                        <img class="space-card__img"></img>
                        <div class="space-card__description">
                            <span class="space-card__text space-card__name"
                                >{{ space.name }}</span
                            >
                            <span class="space-card__text"
                                >{{ space.description }}
                            </span>
                            <span class="space-card__text"
                                >${{ space.price }}</span
                            >
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>
        </main>

        <footer>
            <p>
                &copy; 2025 MakersBnB. All rights reserved.
                <a href="/about">About Us</a>
            </p>
        </footer>
        {% else %}
        <p>Wrong address</p>
        {% endif %}
    </body>
</html>
